body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../Images/stonehaven.png");
  }

main {
  background-color: #4aaaa5;
  margin: 20px;
  padding: 20px;
}
#bio-image {
  float: left;
  margin: 5px;
  padding: 5px;
}